@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
.location {
  display: flex;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding-top: 20px;
  text-align: left;
  font-size: 1.8em;
}

.notification {
  /* background-color: #f8d7da; */
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.short-forecast p {
  margin: 0 auto;
  text-align: left;
}

.timestamp {
  margin: 0 auto;
  text-align: left;
  font-size: 0.7em;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, rgb(172, 233, 228), rgb(100, 161, 185));
  color: #5b497b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.weather-conditions {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 85vw;
  margin: 20px 0 40px;
}

.temp-value {
  height: 100px;
}
.temp-value p {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 100px;
  text-align: center;
  cursor: pointer;
}
.temp-value span {
  font-size: 0.3em;
}

.temp-right {
  display: flex;
  flex-direction: column;
}

.weather-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.weather-info-item {
  align-items: center;
  background-color: rgb(189, 216, 207);
  border-radius: 1em;
  border: 3px solid #5b497b;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding: 7px;
  width: 100px;
}
@media screen and (min-width: 576px) {
  .weather-info-item {
    width: 150px;
  }
}
@media screen and (min-width: 992px) {
  .weather-info-item {
    min-width: 90px;
    max-width: 105px;
  }
}

.hourly-forecast {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  overflow-y: auto;
}

.hourly-forecast-box {
  align-items: center;
  background-color: rgb(189, 216, 207);
  border-radius: 1em;
  border: 3px solid #5b497b;
  display: flex;
  flex: 1;
  width: 100%;
  height: 200px;
  justify-content: center;
}
.hourly-forecast-box:not(:last-child) {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .hourly-forecast-box {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.hourly-temp {
  font-size: 1.5em;
  font-weight: 500;
  padding: 8px 0;
}

.hourly-time {
  font-weight: 500;
}

.navigation {
  margin-top: auto; /* moves to bottom */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 5em;
  border-radius: 10px 10px 0 0;
  background-color: #5b497b;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Rubik", sans-serif;
}

.small-text {
  font-size: 0.6em;
}

.weather-info-icon {
  font-size: 1.9em;
}

.main-weather-icon {
  font-size: 90px;
}

.nav-icon {
  font-size: 1.2em;
  color: rgb(100, 161, 185);
}

#weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33%;
  font-size: 6em;
}

.hourly-forecast-icon {
  font-size: 40px;
}

.humidity {
  font-size: 1em;
}