* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
  color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.weather-conditions {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 85vw;
}

.temp-value {
  height: 100px;
  p {
    padding: 0;
    margin: 0;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
  }
  span {
    font-size: 0.3em;
  }
}

.temp-right {
  display: flex;
  flex-direction: column;
}

// CURRENT WEATHER DETAILS
.weather-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.weather-info-item {
  align-items: center;
  background-color: $light-color;
  border-radius: 1em;
  border: 3px solid $dark-color;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
  padding: 7px;
  width: 90px;

  &sm {
    .large {
      min-width: 90px;
      max-width: 105px;
    }

    &lg {
      .large {
        min-width: 90px;
        max-width: 105px;
      }
    }
  }
}

/* WEEKLY FORECAST */
.hourly-forecast {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 25px;
  width: 90%;
}

.hourly-forecast-box {
  align-items: center;
  background-color: $light-color;
  border-radius: 1em;
  border: 3px solid $dark-color;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 200px;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.hourly-temp {
  font-size: 1.5em;
  font-weight: 600;
  padding: 5px 0;
}

.hourly-probability {
  font-weight: 600;
  padding-bottom: 5px;
}
