* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  //background: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
  background-color: $light-color;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.weather-conditions {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 85vw;
  margin: 20px 0 40px;
}

.temp-value {
  height: 100px;
  p {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
  }
  span {
    font-size: 0.3em;
  }
}

.temp-right {
  display: flex;
  flex-direction: column;
}

.weather-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.weather-info-item {
  align-items: center;
  background-color: $text-box;
  border-radius: 1em;
  border: 3px solid $accent-color;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding: 7px;
  min-width: 100px;
}

.hourly-forecast {
  width: 90%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  margin-top: 25px;

  overflow-y: auto;
}

.hourly-forecast-box {
  align-items: center;
  background-color: $text-box;
  border-radius: 1em;
  border: 3px solid $accent-color;
  display: flex;
  flex: 1;
  width: 100%;
  height: 200px;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 5px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.hourly-temp {
  font-size: 1.5em;
  font-weight: 500;
  padding: 8px 0;
}

// .hourly-probability {
//   padding-bottom: 8px;
// }

.hourly-time {
  //margin-top: 10px;
  font-weight: 500;
}
