.weather-info-icon {
  font-size: 1.9em;
}

.main-weather-icon {
  font-size: 90px;
}

// .bi {
// }

.nav-icon {
  font-size: 1.2em;
  color: $gradient-bottom;
}

#weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33%;
  font-size: 6em;
}

.hourly-forecast-icon {
  font-size: 40px;
}
