.navigation {
  margin-top: auto; /* moves to bottom */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 5em;
  border-radius: 10px 10px 0 0;
  background-color: $dark-color;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
