$light-color: rgb(189, 216, 207);
$dark-color: #5b497b;
$alert: rgb(255, 152, 121);
$text-box: rgb(241, 235, 250);

$gradient-top: rgb(172, 233, 228);
$gradient-bottom: rgb(100, 161, 185);

$font-stack: "Rubik", sans-serif;
