/* @font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand-Regular.ttf") format("truetype");
  src: url("fonts/Quicksand-SemiBold.ttf") format("truetype");
  src: url("fonts/Quicksand-Medium.ttf") format("truetype");
  src: url("fonts/Quicksand-Light.ttf") format("truetype");
  src: url("fonts/Quicksand-Bold.ttf") format("truetype");
} */
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Light.ttf");
  src: url("fonts/Rubik-Regular.ttf");
  /* src: url("fonts/Rubik-Medium.ttf");
  src: url("fonts/Rubik-SemiBold.ttf");
  src: url("fonts/Rubik-Bold.ttf"); */
}

* {
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.container {
  background-color: #dfdbd3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
}

.location {
  display: flex;
}

.location p {
  margin: 0;
  padding: 15px;
  color: #293251;
  text-align: center;
  font-size: 0.9em;
}
.notification {
  /* background-color: #f8d7da; */
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Both columns have equal width */
}
.weather-conditions {
  height: 260px;
  width: 50vw;
  border-right: 2px solid;
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33%;
}

.weather-icon .bi-rainbow {
  font-size: 90px;
}

.forecast-time {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
  text-align: center;
}
.temp-value {
  height: 60px;
}

.temp-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temp-value span {
  color: #293251;
  font-size: 0.5em;
}

.temp-description p {
  padding: 30px 20px 0 20px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 0.9em;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.weather-info-item {
  padding-bottom: 30px;
}

.weather-warning {
  border: 1px solid;
  background-color: rgb(255, 150, 124);
}

.detailed-forecast {
  padding: 10px 0;
  font-size: small;
}

/* BOOTSTRAP ICONS */
.weather-info-icon {
  font-size: 1.5em;
}

.main-weather-icon {
  font-size: 90px;
}

.bi {
  color: #293251;
}
